{# Override the `container` block to disable default layout. #}
{% block container %}
{% block content %}
{{intro|markdown}}

<h2 class="grid_title">{{ grid_title }}</h2>
<p class="instructions">{{ instructions }}</p>
<div class="profiles">
	{% for profile in profiles|sort(attribute="earning_potential", reverse=true) %}
		{% include "_profile.html" %}
	{% endfor %}
	<p class='sources'>{{sources}}</p>
</div>
	<div id='chart--large' class=""></div>


{% endblock content %}
{% endblock container %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>

<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];    
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });


  var rioData = [
		{% for athlete in profiles %}
			{	
				id:"{{ athlete.id }}",
				name:"{{ athlete.athlete }}",
				yAxis:"{{ athlete.rio_performance }}",
				xAxis:"{{ athlete.earning_potential }}",
				imgDisplay:"http://{{ROOT_URL}}/img/display/{{ athlete.img }}",
				imgPlot:"http://{{ROOT_URL}}/img/plot/{{ athlete.img }}"
			}{% if not loop.last %},{% endif %}
		{% endfor %}
	];

	var olympicScatterplot = new TribScatterplot.TribScatterplot({
		mobileBreakpoint: 700,
		data:rioData,
		desktopChartContainer:'#rio-scatterplot',
		mobileChartContainer:'.profile__chart',
		yAxisLabels: {
			top:"{{ y_axis_label_top }}",
			bottom:"{{ y_axis_label_bottom }}",
			mobile:"{{ y_mobile_label }}"
		},
		xAxisLabels: {
			left:"{{ x_axis_label_left }}",
			right:"{{ x_axis_label_right }}",
			mobile:"{{ x_mobile_label }}"
		},
		yAxisColumn: "{{ y_axis_column }}",
		xAxisColumn: "{{ x_axis_column }}"
	});
})(document);    
</script>
{% endblock scripts %}
