<div id="{{ profile.id }}" class="profile">
	<figure class="profile__pic">
		<img src='http://{{ ROOT_URL }}/img/display/{{ profile.img }}' >
		<figcaption>{{ profile.img_credit }}</figcaption>
	</figure>
	<h3 class='profile__name'>{{ profile.athlete_first }} {{ profile.athlete_last }}</h3>
	<p class='profile__sport'>{{ profile.sport }}</p>
	<div class="profile__chart"></div>
	<div class="profile__graf">
		<ul class='profile_meta'>
			<li>Age: {{ profile.age }}</li>
			<li>Country: {{ profile.country }}</li>
			<li>
				Medals:
					{% for medal in ['gold', 'silver', 'bronze']%}
						{% for number in range(0,profile[medal]) %}
							<span class='medal medal--{{ medal }}'></span>
						{% endfor %}
					{% endfor %}
			</li>
		</ul>
		{{ profile.blurb|markdown }}
	</div>
</div>